List of all the python dependencies required
1. pip install osmnx
2. pip install networkx
3. pip install numpy
4. pip install geopandas shapely matplotlib
5. pip install scikit-learn
6. pip install geopy
 