<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Route Planner</title>
  <script src="/static/js/home.js"></script>
  <script src="/static/js/script.js" defer></script>
  <link rel="stylesheet" href="/static/css/styles.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>
</head>
<body>
  <div id="spinner-background">
    <div class="spinner" id="spinner"></div>
  </div>
  <header>
    <div class="auth-buttons">
      <button class="signup">SIGN UP</button>
      <button class="login">LOGIN</button>
    </div>
  </header>
  <div class="title">Routing Tool</div>
  <div class="steps">
    <div class="overview" onclick="OnOverviewClick()">Overview</div>
    <div class="information" onclick="OnInformationClick()">Information</div>
    <div class="contact" onclick="OnContactClick()">Contact Us</div>
    <div class="help" onclick="OnHelpClick()">Help</div>
  </div>
  <div class="container">

        <table class="table">
            <tr>
                <td>
                    <img src="../static/images/indigo_pin.jpg" alt="Start Icon" class="icon-image">Start
                </td>
                <td>
                  <div class="input-dropdown-container">
                    <input type="text" id="start" name="start" placeholder="Hamburg" class="indigo-input">
                    <select id="start_dropdown" name="start">
                    </select>
                  </div>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="../static/images/indigo_pin.jpg" alt="Start Icon" class="icon-image">Destination
                </td>
                <td>
                  <div class="input-dropdown-container">
                    <input type="text" id="dest" name="dest" placeholder="Achim" class="indigo-input">
                    <select id="end_dropdown" name="end">
                    </select>
                  </div>
                </td>
            </tr>
            <tr>
                <td>Height (cm)</td>
                <td><input type="number" id="height" name="height" placeholder="420" class="indigo-input"></td>
            </tr>
            <tr>
                <td style="color:rgb(22, 121, 241);cursor: pointer;" onclick="AdvancedOptionsToggle()">Advanced options</td>
            </tr>
            <tr id="buffer-height-row" style="display: none;">
                <td>Buffer Height (cm)</td>
                <td><input type="number" id="buffer-height" name="buffer-height" placeholder="10" class="indigo-input"></td>
            </tr>
            <tr id="num-paths-row" style="display: none;">
              <td>Number of paths</td>
              <td><input type="number" id="num-paths" name="num-paths" placeholder="1" value="1" class="indigo-input"></td>
          </tr>
            <tr>
                <td colspan="2" style="text-align: center; padding-top: 20px;">
                    <div class="buttons">
                        <button class="searchReset" id="dataForm" type="submit">SEARCH</button>
                        <button class="searchReset">RESET</button>
                    </div>
                </td>
            </tr>
        </table>
    <div class="map-section">
      <div class="map">
        <!--<img src="../static/images/map.png" alt="Map">-->
        <div id="map" style="height: 500px;"></div>
      </div>
    </div>
  </div>
</body>
</html>
